.footer {
    background-color: var(--footer-bacground);
    padding: 20px 0;
}

.footer-text {
    font-family: Raleway-400, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.row-link span {
    font-family: Lato-700;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;
}
