{% extends 'base.html' %}
{% block title %}
Карточка товара
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-full">
                    <div class="section-header">
                        <h3 class="section-header-title">Архив Товаров</h3>
                    </div>

                    <div class="my-orders">
                        <div class="row mb-3 d-none d-lg-flex">
                            <div class="mb-3 col-12 mb-md-3 col-md-6 col-lg-3 mb-lg-0">
                                <div class="card-text">Товар аты</div>
                            </div>
                            <div class="mb-3 col-6 mb-md-3 col-md-6 col-lg-3 mb-lg-0">
                                <div class="card-text">Трек номері</div>
                            </div>
                            <div class="mb-3 col-6 mb-md-4 col-md-6 col-lg-4 mb-lg-0">
                                <div class="card-text">Статус</div>
                            </div>
                            <div class="col-12 mb-md-2 col-md-6 col-lg-2 mb-lg-0">
                            </div>
                        </div>
                                                    <div class="card-status error"></div>
                            <div class="card card-status-block">
                                <div class="card-body">
                                    <h3 class="card-error-title">Сіздің тауарларыңыз табылмады!</h3>
                                </div>
                            </div>

                                            </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script src="https://amanat918.kz/js/jquery.min.js"></script>
<script src="https://amanat918.kz/js/mask.input.js"></script>
<script src="https://amanat918.kz/plugins/sweetalert2/sweetalert2.js?v=1.1"></script>
<script src="https://amanat918.kz/js/bootstrap.bundle.min.js"></script>
<script src="https://amanat918.kz/js/lottie.js"></script>
<script src="https://amanat918.kz/js/script.js?v=1.5"></script>
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
<script>
        const players = Plyr.setup('#player', {
            controls: ['play', 'progress', 'current-time', 'mute', 'volume'],
        });

        function copyText(text, baseClass) {
            navigator.clipboard.writeText(text);
            $(baseClass).addClass('copy-success');
        }

    </script>
<script>




    function alertErrorBuyAscCoedModal(text = "") {
        Swal.fire({
            title: text ? text : "Қате!",
            padding: '2em',
            icon: 'error',
            iconHtml: '<div class="svgErrorContainer" id="svgErrorContainer"></div>',
            customClass: {
                icon: 'no-border'
            },
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'Тегін код аламын',
        }).then((result) => {
            if (result.value) {

                window.location.href = "https://api.whatsapp.com/send?phone=77770643011&Сәлеметсізбе! Тегін код алғым келеді";
            }
        })
    }

    let svgSuccessContainer = document.getElementById('svgSuccessContainer');
    let animItemSuccess = bodymovin.loadAnimation({
        wrapper: svgSuccessContainer,
        animType: 'svg',
        loop: true,
        path: '/js/success.json'
    });

    let svgErrorContainer = document.getElementById('svgErrorContainer');
    let animItemError = bodymovin.loadAnimation({
        wrapper: svgErrorContainer,
        animType: 'svg',
        loop: true,
        path: '/js/error.json'
    });
</script>

<script src="/livewire/livewire.js?id=de3fca26689cb5a39af4" data-turbo-eval="false" data-turbolinks-eval="false"></script><script data-turbo-eval="false" data-turbolinks-eval="false">window.livewire = new Livewire();window.Livewire = window.livewire;window.livewire_app_url = '';window.livewire_token = '4AFmTrRWO8qVQpMbXP4ld3H97L02c33cKsV4lw2B';window.deferLoadingAlpine = function (callback) {window.addEventListener('livewire:load', function () {callback();});};let started = false;window.addEventListener('alpine:initializing', function () {if (! started) {window.livewire.start();started = true;}});document.addEventListener("DOMContentLoaded", function () {if (! started) {window.livewire.start();started = true;}});</script>
{% endblock %}
