{% extends 'base.html' %}
{% block title %}
Кабинет
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container container-full">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-header">
                        <h3 class="section-header-title">Мой кабинет</h3>
                    </div>

                    <div class="card card-cabinet">
                        <div class="card-body">
                            <h4 class="card-body-title">{{current_user.name}}</h4>

                            <div class="card-body-row">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cabinet-subtitle">Телефон</div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="cabinet-text">{{current_user.phone_number}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body-row">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cabinet-subtitle">Город</div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="cabinet-text">{{current_user.user_city}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                                    </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script src="js/jquery.min.js"></script>
<script src="js/mask.input.js"></script>
<script src="plugins/sweetalert2/sweetalert2.js@v=1.1"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/lottie.js"></script>
<script src="js/script.js@v=1.5"></script>

    <script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
    <script>
        const players = Plyr.setup('#player', {
            controls: ['play', 'progress', 'current-time', 'mute', 'volume'],
        });
    </script>

<script>
    
        alertErrorModal("Сіз тіркелмгенсіз!")
    
    
    
    function alertErrorBuyAscCoedModal(text = "") {
        Swal.fire({
            title: text ? text : "Қате!",
            padding: '2em',
            icon: 'error',
            iconHtml: '<div class="svgErrorContainer" id="svgErrorContainer"></div>',
            customClass: {
                icon: 'no-border'
            },
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'Тегін код аламын',
        }).then((result) => {
            if (result.value) {
                
                window.location.href = "https://api.whatsapp.com/send?phone=77770643011&Сәлеметсізбе! Тегін код алғым келеді";
            }
        })
    }

    let svgSuccessContainer = document.getElementById('svgSuccessContainer');
    let animItemSuccess = bodymovin.loadAnimation({
        wrapper: svgSuccessContainer,
        animType: 'svg',
        loop: true,
        path: '/js/success.json'
    });

    let svgErrorContainer = document.getElementById('svgErrorContainer');
    let animItemError = bodymovin.loadAnimation({
        wrapper: svgErrorContainer,
        animType: 'svg',
        loop: true,
        path: '/js/error.json'
    });
</script>

<script src="livewire/livewire.js@id=de3fca26689cb5a39af4" data-turbo-eval="false" data-turbolinks-eval="false" ></script><script data-turbo-eval="false" data-turbolinks-eval="false" >window.livewire = new Livewire();window.Livewire = window.livewire;window.livewire_app_url = '';window.livewire_token = 'GloJd6ljmdTeTDJj5a31zfhcNv7OxsHeY5MWwFJn';window.deferLoadingAlpine = function (callback) {window.addEventListener('livewire:load', function () {callback();});};let started = false;window.addEventListener('alpine:initializing', function () {if (! started) {window.livewire.start();started = true;}});document.addEventListener("DOMContentLoaded", function () {if (! started) {window.livewire.start();started = true;}});</script>
{% endblock %}