<!DOCTYPE html>
<html lang="ru" class="page">

<head>
    <meta charset="UTF-8">
    <title>Аманат</title>
    <link href="../static/css/catalog_styles.css" rel="stylesheet">
</head>

<body class="page__body">
    <header class="page-header">
        <a class="page-header__logo">
            <img class="page-header__logo-image" src="../static/images/maksat-mobile-logo.jpg"
                 width="250" height="50" alt="Аманат">
        </a>
        <nav class="main-nav">
            <div class="main-nav__wrapper">
                <ul class="main-nav__list site-list">
                    <li class="site-list__item">
                        <a>
                            Адрес склада
                        </a>
                    </li>
                    <li class="site-list__item">
                        <a>
                            Задать вопрос
                        </a>
                    </li>
                </ul>
                <div class="main-nav__list user-list">

                </div>
            </div>
        </nav>
    </header>
    <main class="page-main">
        <section class="catalog">
            <div class="catalog__wrapper">
                <header class="catalog__header">
                    <h2 class="catalog__title">
                        Каталог
                    </h2>
                </header>
                <ul class="popular-goods-list special-ul">
                    <li class="popular-goods-item popular-goods-item-1">
                        <img class="goods-item-img goods-item-img bosch-item-img bosch-item-1" src="../static/images/good_card.jpg"
                             alt="картинка с дрелью 9000-модели" width="184" height="164">
                        <h3 class='goods-naming text-aligning'>dasdsadsadas</h3>
                        <p class="goods-cost text-aligning">32500 Р.</p>
                        <p class="goods-description text-aligning">Товар создан специально для...</p>
                        <a href="#" class="goods_more text-aligning">Подробнее</a>
                    </li>
                    <li class="popular-goods-item popular-goods-item-1">
                        <img src="../static/images/good_card.jpg" alt="картинка с дрелью 9000-модели" width="184" height="164"
                            class="goods-item-img bosch-item-img bosch-item-1">
                        <h3 class='goods-naming text-aligning'>dasdsadsadas</h3>
                        <p class="goods-cost text-aligning">32500 Р.</p>
                        <p class="goods-description text-aligning">Товар создан специально для...</p>
                        <a href="#" class="goods_more text-aligning">Подробнее</a>
                    </li>
                    <li class="popular-goods-item popular-goods-item-1">
                        <img src="../static/images/good_card.jpg" alt="картинка с дрелью 9000-модели" width="184" height="164"
                            class="goods-item-img bosch-item-img bosch-item-1">
                        <h3 class='goods-naming text-aligning'>dasdsadsadas</h3>
                        <p class="goods-cost text-aligning">32500 Р.</p>
                        <p class="goods-description text-aligning">Товар создан специально для...</p>
                        <a href="#" class="goods_more text-aligning">Подробнее</a>
                    </li>
                    <li class="popular-goods-item popular-goods-item-1">
                        <img src="../static/images/good_card.jpg" alt="картинка с дрелью 9000-модели" width="184" height="164"
                            class="goods-item-img bosch-item-img bosch-item-1">
                        <h3 class='goods-naming text-aligning'>dasdsadsadas</h3>
                        <p class="goods-cost text-aligning">32500 Р.</p>
                        <p class="goods-description text-aligning">Товар создан специально для...</p>
                        <a href="#" class="goods_more text-aligning">Подробнее</a>
                    </li>
                    <li class="popular-goods-item popular-goods-item-1">
                        <img src="../static/images/good_card.jpg" alt="картинка с дрелью 9000-модели" width="184" height="164"
                            class="goods-item-img bosch-item-img bosch-item-1">
                        <h3 class='goods-naming text-aligning'>dasdsadsadas</h3>
                        <p class="goods-cost text-aligning">32500 Р.</p>
                        <p class="goods-description text-aligning">Товар создан специально для...</p>
                        <a href="#" class="goods_more text-aligning">Подробнее</a>
                    </li>
                    <li class="popular-goods-item popular-goods-item-1">
                        <img src="../static/images/good_card.jpg" alt="картинка с дрелью 9000-модели" width="184" height="164"
                            class="goods-item-img bosch-item-img bosch-item-1">
                        <h3 class='goods-naming text-aligning'>dasdsadsadas</h3>
                        <p class="goods-cost text-aligning">32500 Р.</p>
                        <p class="goods-description text-aligning">Товар создан специально для...</p>
                        <a href="#" class="goods_more text-aligning">Подробнее</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="page-footer__wrapper">
            <div class="page-footer__contacts contacts">
                <p class="contacts__text">
                    Если у вас есть какие-либо вопросы, пожалуйста, свяжитесь с нами:<br>
                    <a class="contacts__phone" href="tel:+78125556666">
                        <span class="contacts__phone-mobile">Тел.:</span> +7 (812) 555-66-66
                    </a>
                </p>
            </div>
    </footer>
</body>


</html>