{% extends 'base.html' %}
{% block title %}
Каталог
{% endblock %}

{% block content %}
                <main class="page-main">
        <section class="catalog">
            <div class="catalog__wrapper">
                <header class="catalog__header">
                    <h2 class="catalog__title">
                        Каталог
                    </h2>
                    {% if current_user.phone_number == "admin" %}
                    <a href="/add_product" class="btn btn-default btn-edit btn-archive" style="background: blue;
    color: white;
    margin-top: -25px;
    margin-left: 96px;
    margin-bottom: 45px;">
                                Добавить товар
                            </a>
                    {% endif %}
                </header>
                <ul class="popular-goods-list special-ul">
                    {% for good in goods %}
                    <li class="popular-goods-item popular-goods-item-1">
                        <a href="/product/{{good.product_id}}" class="popular-goods-item-link">
                        <img class="goods-item-img goods-item-img bosch-item-img bosch-item-1"
                             src="{{good.product_picture_path}}"
                             alt="картинка с дрелью 9000-модели" width="184" height="164">
                        <h3 class='goods-naming text-aligning'>{{good.product_name}}</h3>
                        <p class="goods-description text-aligning">{{good.product_description}}</p>
                        {% if current_user.name == 'admin' %}
                        <form action="/delete_product/{{good.product_id}}" method="POST">
                            <button class="goods_more text-aligning">Удалить</button>
                        </form>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/mask.input.js"></script>
<script src="../static/plugins/sweetalert2/sweetalert2.js@v=1.1"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/lottie.js"></script>
<script src="../static/js/script.js@v=1.5"></script>
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
<script>
        const players = Plyr.setup('#player', {
            controls: ['play', 'progress', 'current-time', 'mute', 'volume'],
        });

        function copyText(text, baseClass) {
            navigator.clipboard.writeText(text);
            $(baseClass).addClass('copy-success');
        }

    </script>
<script>




    function alertErrorBuyAscCoedModal(text = "") {
        Swal.fire({
            title: text ? text : "Қате!",
            padding: '2em',
            icon: 'error',
            iconHtml: '<div class="svgErrorContainer" id="svgErrorContainer"></div>',
            customClass: {
                icon: 'no-border'
            },
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'Тегін код аламын',
        }).then((result) => {
            if (result.value) {

                window.location.href = "https://api.whatsapp.com/send?phone=77770643011&Сәлеметсізбе! Тегін код алғым келеді";
            }
        })
    }

    let svgSuccessContainer = document.getElementById('svgSuccessContainer');
    let animItemSuccess = bodymovin.loadAnimation({
        wrapper: svgSuccessContainer,
        animType: 'svg',
        loop: true,
        path: '/js/success.json'
    });

    let svgErrorContainer = document.getElementById('svgErrorContainer');
    let animItemError = bodymovin.loadAnimation({
        wrapper: svgErrorContainer,
        animType: 'svg',
        loop: true,
        path: '/js/error.json'
    });
</script>

<script src="/livewire/livewire.js?id=de3fca26689cb5a39af4" data-turbo-eval="false" data-turbolinks-eval="false"></script><script data-turbo-eval="false" data-turbolinks-eval="false">window.livewire = new Livewire();window.Livewire = window.livewire;window.livewire_app_url = '';window.livewire_token = '4AFmTrRWO8qVQpMbXP4ld3H97L02c33cKsV4lw2B';window.deferLoadingAlpine = function (callback) {window.addEventListener('livewire:load', function () {callback();});};let started = false;window.addEventListener('alpine:initializing', function () {if (! started) {window.livewire.start();started = true;}});document.addEventListener("DOMContentLoaded", function () {if (! started) {window.livewire.start();started = true;}});</script>
{% endblock %}
