{% extends 'base.html' %}
{% block title %}
Карточка товара
{% endblock %}

{% block content %}
                <main class="page-main">
        <section class="page-main__good-card">
            <div class="good-card">
                <img src="../static/images/good_card.jpg" class="goods-item-img" width="300" height="300">
                <h3 class='good-card-naming text-aligning no-margins'>Название: {{definite_product.product_name}}</h3>
                <div class="description_wrapper">
                    <p class="good-card-description text-aligning no-margins"><b>Описание:</b>
                        {{definite_product.product_description}}
                    </p>
                </div>
                <a href="https://api.whatsapp.com/send?phone=77079878007&text=Сәлеметсізбе! Тегін код алғым келеді"
                                   class="btn btn-default btn-payment " style="margin: 0 auto; margin-top: 30px;">
                    Написать продавцу
                    <svg class="ml-1" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4.40476 15.5264L8.93476 20.0564C10.7948 21.9164 13.8148 21.9164 15.6848 20.0564L20.0748 15.6664C21.9348 13.8064 21.9348 10.7864 20.0748 8.91637L15.5348 4.39637C14.5848 3.44637 13.2748 2.93637 11.9348 3.00637L6.93476 3.24637C4.93476 3.33637 3.34476 4.92637 3.24476 6.91637L3.00476 11.9164C2.94476 13.2664 3.45476 14.5764 4.40476 15.5264Z"
                                            stroke="white" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"/>
                                        <path
                                            d="M9.73486 12.2263C11.1156 12.2263 12.2349 11.107 12.2349 9.72632C12.2349 8.34561 11.1156 7.22632 9.73486 7.22632C8.35415 7.22632 7.23486 8.34561 7.23486 9.72632C7.23486 11.107 8.35415 12.2263 9.73486 12.2263Z"
                                            stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                        <path d="M13.2349 17.2263L17.2349 13.2263" stroke="white" stroke-width="1.5"
                                              stroke-miterlimit="10" stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>
                </a>
            </div>
        </section>
    </main>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script src="https://amanat918.kz/js/jquery.min.js"></script>
<script src="https://amanat918.kz/js/mask.input.js"></script>
<script src="https://amanat918.kz/plugins/sweetalert2/sweetalert2.js?v=1.1"></script>
<script src="https://amanat918.kz/js/bootstrap.bundle.min.js"></script>
<script src="https://amanat918.kz/js/lottie.js"></script>
<script src="https://amanat918.kz/js/script.js?v=1.5"></script>
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
<script>
        const players = Plyr.setup('#player', {
            controls: ['play', 'progress', 'current-time', 'mute', 'volume'],
        });

        function copyText(text, baseClass) {
            navigator.clipboard.writeText(text);
            $(baseClass).addClass('copy-success');
        }

    </script>
<script>




    function alertErrorBuyAscCoedModal(text = "") {
        Swal.fire({
            title: text ? text : "Қате!",
            padding: '2em',
            icon: 'error',
            iconHtml: '<div class="svgErrorContainer" id="svgErrorContainer"></div>',
            customClass: {
                icon: 'no-border'
            },
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'Тегін код аламын',
        }).then((result) => {
            if (result.value) {

                window.location.href = "https://api.whatsapp.com/send?phone=77770643011&Сәлеметсізбе! Тегін код алғым келеді";
            }
        })
    }

    let svgSuccessContainer = document.getElementById('svgSuccessContainer');
    let animItemSuccess = bodymovin.loadAnimation({
        wrapper: svgSuccessContainer,
        animType: 'svg',
        loop: true,
        path: '/js/success.json'
    });

    let svgErrorContainer = document.getElementById('svgErrorContainer');
    let animItemError = bodymovin.loadAnimation({
        wrapper: svgErrorContainer,
        animType: 'svg',
        loop: true,
        path: '/js/error.json'
    });
</script>

<script src="/livewire/livewire.js?id=de3fca26689cb5a39af4" data-turbo-eval="false" data-turbolinks-eval="false"></script><script data-turbo-eval="false" data-turbolinks-eval="false">window.livewire = new Livewire();window.Livewire = window.livewire;window.livewire_app_url = '';window.livewire_token = '4AFmTrRWO8qVQpMbXP4ld3H97L02c33cKsV4lw2B';window.deferLoadingAlpine = function (callback) {window.addEventListener('livewire:load', function () {callback();});};let started = false;window.addEventListener('alpine:initializing', function () {if (! started) {window.livewire.start();started = true;}});document.addEventListener("DOMContentLoaded", function () {if (! started) {window.livewire.start();started = true;}});</script>
{% endblock %}
