<!DOCTYPE html>
<html lang="ru" class="page">

<head>
    <meta charset="UTF-8">
    <title>Аманат</title>
    <link href="../static/css/catalog_styles.css" rel="stylesheet">
</head>

<body class="page__body">
    <header class="page-header">
        <a class="page-header__logo">
            <img class="page-header__logo-image" src="../static/images/maksat-mobile-logo.jpg"
                 width="250" height="50" alt="Аманат">
        </a>
        <nav class="main-nav">
            <div class="main-nav__wrapper">
                <ul class="main-nav__list site-list">
                    <li class="site-list__item">
                        <a>
                            Адрес склада
                        </a>
                    </li>
                    <li class="site-list__item">
                        <a>
                            Задать вопрос
                        </a>
                    </li>
                </ul>
                <div class="main-nav__list user-list">

                </div>
            </div>
        </nav>
    </header>
    <main class="page-main">
        <section class="page-main__good-card">
            <div class="good-card">
                <img src="../static/images/good_card.jpg" class="goods-item-img" width="300" height="300">
                <h3 class='good-card-naming text-aligning no-margins'>Название: dasdsadsadas</h3>
                <p class="good-card-cost text-aligning no-margins">Цена: 32500 Р.</p>
                <div class="description_wrapper">
                    <p class="good-card-description text-aligning no-margins"><b>Описание:</b>
                        Товар создан специально для dasdsadasdasda asd asdas dsadha
                        asdsada sdasd as asd asd asdas dasdrqw agrasd gfafsdfadfgfa f adsfasdg as ag adfgwrf df saDfa
                        Товар создан специально для dasdsadasdasda asd asdas dsadha asdsada sdasd as asd asd asdas
                        dasdrqw agrasd gfafsdfadfgfa f adsfasdg as ag adfgwrf df saDfa
                        Товар создан специально для dasdsadasdasda asd asdas dsadha asdsada sdasd as asd asd asdas
                        dasdrqw agrasd gfafsdfadfgfa f adsfasdg as ag adfgwrf df saDfa
                    </p>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="page-footer__wrapper">
            <div class="page-footer__contacts contacts">
                <p class="contacts__text">
                    Если у вас есть какие-либо вопросы, пожалуйста, свяжитесь с нами:<br>
                    <a class="contacts__phone" href="tel:+78125556666">
                        <span class="contacts__phone-mobile">Тел.:</span> +7 (812) 555-66-66
                    </a>
                </p>
            </div>
    </footer>
</body>


</html>