{% extends 'base.html' %}
{% block title %}
Вопросы
{% endblock %}

{% block content %}
            <section class="section">
        <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <div class="section-header">
                        <h3 class="section-header-title">Сұрақ-жауап</h3>
                    </div>

                    <div class="accordion">
                        <div class="panel panel-default accordion-item">
                            <div class="panel-heading acc-open accordion-heading"
                                 data-acc-link="accordion1">
                                Доставка қалай төлейміз?
                            </div>
                            <div class="panel-body acc-open accordion-body"
                                 data-acc-content="accordion1">
                                Өз қалаңыздағы филиалға келгенде, тауар қолыңызға тигенде төлем жасайсыз(Сұрақ: Доставка
                                қалай төлейміз)
                            </div>
                        </div>
                        <div class="panel panel-default accordion-item">
                            <div class="panel-heading accordion-heading"
                                 data-acc-link="accordion15">
                                Доставкаға қанша төленеді?
                            </div>
                            <div class="panel-body  accordion-body"
                                 data-acc-content="accordion15">
                                Қытай складынан Қазақстанға дейін тариф килограмына Алматы қаласы - 4.8$, Басқа қалалар 5$
                            </div>
                        </div>
                        <div class="panel panel-default accordion-item">
                            <div class="panel-heading accordion-heading"
                                 data-acc-link="accordion2">
                                Қанша уақытта келеді?
                            </div>
                            <div class="panel-body  accordion-body"
                                 data-acc-content="accordion2">
                                Сіздің тапсырыс берген тауарыңыздың келу уақыты біздің складтың қабылдап алған уақытынан
                                басталады. Шекарадан тауардың өтуі қалыпты жағдайда орташа есеппен 7-14 күн аралығында
                                келеді.
                                <br>
                                БІРАҚ, ШЕКАРАҒА БАЙЛАНЫСТЫ ФОРС- МАЖОР ЖАҒДАЙЛАР, ТЕКСЕРІСТЕР, КІДІРУЛЕР
                                БОЛАТЫНДЫҚТАН КОМПАНИЯМЫЗ ЕШҚАШАН УАҚЫТҚА КЕПІЛДІК БЕРМЕЙДІ. Себебі, шекараның өз
                                заңдылыктары мен тексеріс стандарттары бар, біз соған бағынамыз.
                                <br>
                                Ал, біздің де мүддеміз сіздермен бірдей, тез жеткізу біздің басты мақсатымыз!
                            </div>
                        </div>

































                        <div class="panel panel-default accordion-item">
                            <div class="panel-heading  accordion-heading"
                                 data-acc-link="accordion4">
                                Тапсырыс беруге болмайтын тауарлар.
                            </div>
                            <div class="panel-body accordion-body"
                                 data-acc-content="accordion4">
                                Қытай тарапынан алып өтуге тыйым салынған
                                заттар тізімі:
                                <br>1) Смартфон, ноутбук, Ipad;
                                <br>2) Медициналық мақсаттағы заттар; (дәрі-дәрмек, витамин, шөп дәрі.)
                                <br>3) Әскери мақсаттағы заттар; (дрон, дүрбі,рольки)
                                <br>4) Майнинг кұрылғылары; (биткойн, электронды ақша табуға арналған
                                құрылғылар,видеокарта.)
                                <br>5) Контрабандылық тауарлар; (алтын, күміс,норка/шуба.)
                                <br>6) Электронды темекі;
                                <br>7) Сұйықтықтар;
                                <br>8) Ұнтақтар;
                                <br>9) Өсімдіктер;
                                <br>10) Азық-түлік өнімдері;
                                <br>11) Айна.
                                <br>Бұл заттарға заказ берген жағдайда , сол зат
                                себепті шекарадан тексеру, камаздың кешігуі болса сол тауардың иесі барлық шығындар мен
                                жауапкершілікті арқалайды.
                                <br>
                                Осы шартқа келіссеңіз ғана тауар жіберіңіз, келіспесеңіз тауар жібермеңіз!
                            </div>
                        </div>
                        <div class="panel panel-default accordion-item">
                            <div class="panel-heading  accordion-heading"
                                 data-acc-link="accordion5">
                                Менеджерлер номері
                            </div>
                            <div class="panel-body accordion-body"
                                 data-acc-content="accordion5">
                                <a class="row-link link mr-2" href="tel:87770643011">87770643011</a>
                                <a class="row-link link" href="tel:87054196688">87054196688</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script src="https://amanat918.kz/js/jquery.min.js"></script>
<script src="https://amanat918.kz/js/mask.input.js"></script>
<script src="https://amanat918.kz/plugins/sweetalert2/sweetalert2.js?v=1.1"></script>
<script src="https://amanat918.kz/js/bootstrap.bundle.min.js"></script>
<script src="https://amanat918.kz/js/lottie.js"></script>
<script src="https://amanat918.kz/js/script.js?v=1.5"></script>
<script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
<script>
        const players = Plyr.setup('#player', {
            controls: ['play', 'progress', 'current-time', 'mute', 'volume'],
        });

        function copyText(text, baseClass) {
            navigator.clipboard.writeText(text);
            $(baseClass).addClass('copy-success');
        }

    </script>
<script>




    function alertErrorBuyAscCoedModal(text = "") {
        Swal.fire({
            title: text ? text : "Қате!",
            padding: '2em',
            icon: 'error',
            iconHtml: '<div class="svgErrorContainer" id="svgErrorContainer"></div>',
            customClass: {
                icon: 'no-border'
            },
            showCloseButton: true,
            showConfirmButton: true,
            confirmButtonText: 'Тегін код аламын',
        }).then((result) => {
            if (result.value) {

                window.location.href = "https://api.whatsapp.com/send?phone=77770643011&Сәлеметсізбе! Тегін код алғым келеді";
            }
        })
    }

    let svgSuccessContainer = document.getElementById('svgSuccessContainer');
    let animItemSuccess = bodymovin.loadAnimation({
        wrapper: svgSuccessContainer,
        animType: 'svg',
        loop: true,
        path: '/js/success.json'
    });

    let svgErrorContainer = document.getElementById('svgErrorContainer');
    let animItemError = bodymovin.loadAnimation({
        wrapper: svgErrorContainer,
        animType: 'svg',
        loop: true,
        path: '/js/error.json'
    });
</script>

<script src="/livewire/livewire.js?id=de3fca26689cb5a39af4" data-turbo-eval="false" data-turbolinks-eval="false"></script>
<script data-turbo-eval="false" data-turbolinks-eval="false">window.livewire = new Livewire();window.Livewire = window.livewire;window.livewire_app_url = '';window.livewire_token = '4AFmTrRWO8qVQpMbXP4ld3H97L02c33cKsV4lw2B';window.deferLoadingAlpine = function (callback) {window.addEventListener('livewire:load', function () {callback();});};let started = false;window.addEventListener('alpine:initializing', function () {if (! started) {window.livewire.start();started = true;}});document.addEventListener("DOMContentLoaded", function () {if (! started) {window.livewire.start();started = true;}});</script>
{% endblock %}
